<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldTypes>
      <fieldType name="ImageWithOverlay" type="SpeakImageOverlay.Common.Fields.ImageWithOverlayField, SpeakImageOverlay.Common" />
    </fieldTypes>
    <controlSources>
      <source mode="on" namespace="SpeakImageOverlay.Common.Controls" assembly="SpeakImageOverlay.Common" prefix="overlay"/>
    </controlSources>
  </sitecore>
</configuration>